/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/05/2018, 12:59:59
    Author     : onurb
*/

.item img {
    height: 450px !important;
    width: 100% !important;
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    
}
.menu-fixed-left{
    position: fixed;
}
mark {
    background-color: #202326;
    color: black;
}
a {
     color: #16181b;
}

